/* FORM */
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}
/* IMAGE */
	.image {
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}
		.image img {
			position: relative;
			-ms-behavior: url("assets/js/ie/PIE.htc");
		}
/* ICON */
	.icon.major {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}
/* BUTTON */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}
/* BOX */
	.box.post .inner {
		margin-left: 35%;
	}
/* DROPOTRON */
	.dropotron {
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}
/* BANNER */
	#banner {
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}
/* WRAPPER */
	.wrapper.style2 {
		background: #fdfdfd url("images/bg01.png");
	}